  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
    #jobSeekerRegForm {
      margin-right: 15px;
    }
  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
    width: auto;
    height: auto;
    border: #000 ;
    box-shadow:2px 2px 2px #000
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
    
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline input[type=submit] {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline input[type=submit]:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
   }


